@model RegistrationLogin.Models.UserActivation

<link href="~/Content/Shared/css/views.css" rel="stylesheet" />

@{
    ViewBag.Title = "UserActivation";
    Layout = "~/Content/Shared/_LayoutRegistration.cshtml";
}
<br/>

<h4 style="color:coral;">Please check your email for UserActivation Link</h4>
  <br />  

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)


        <div class="display-field">
            @Html.HiddenFor(model => model.ID) 
        </div>

            <div class="display-field">
                @Html.HiddenFor(model => model.ActivationCode)
            </div>
    
       <p>
            <input type="submit" value="Resend Activation Link" />
        </p>
}

<div>
    @Html.ActionLink("Back to Login", "Login")
</div>

