
html
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


body
{

    font-family: sans-serif;
    font-size: 90%;
    margin: 0;
    padding: 0;
}

header
{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
 /* background-color: #0D3D4E; */
    background-color: black;
    opacity: 0.85;
    box-sizing: border-box;
    position: static;

}

header h1
{
    color: azure;
    text-align: left;
    font-family:  "Lucida Grande", sans-serif;;
    color: aliceblue;
    font-size: 2em;
    font-weight: lighter;
    margin: 0;
    margin-left: 60px;
    padding: 8px 10px 0px 0px;
    text-shadow: 3px 4px 0 rgba(0,0,0,0.5);
    color: #FFFFFF;
}

header p
{
    font-family: cursive;
    font-size: .9em;
    text-align: left;
    color: aliceblue;
    font-weight: lighter;
    margin: 0;
    margin-left: 63px;
    padding-bottom: 5px;
    text-shadow: 2px 3px 0 rgba(0,0,0,0.5);
}
.container
{
    max-width: 1100px;
    margin: 0 auto;

    padding-left: 30px;
    padding-right: 30px;
}

.content-area
{    
    background-color: rgba(0,0,0,0.2);    
    margin: 0;
    padding-bottom:20px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-image: url(../images/banner_main.jpg);
    background-position: center;
    background-size: cover;    

}

.signup-background
{
    background-image: url(../images/banner_main.jpg);
    background-position: center;
    background-size: cover;    
}

.sidebar-left
{
    width: 45%;
    float: left;
    margin-top: 0px;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-left: 30px;
/*    background-color: rgba(0,0,0,0.4); */

}

.main-area
{
    width: 42%;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;   
}

.sidebar-right
{
    width: 24.5%;
    float: right;
    background-color: darksalmon;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    background-color: rgba(209,247,255,0.46);
    font-size: 12px;
    font-weight: 600;
    border-radius: 45px;
}

img 
{
    height: auto;
}

.image-banner img
{
    display:block;
}

.banner-description
{
    position: absolute;
    bottom: 0px;
    color: #FFF;
    background-color: rgba(0,0,0,0.7);
    padding: 8px 16px;
}

.image-banner
{
    position: relative;
    margin-bottom: 15px;
}


.group:before,
.group:after
{
    content: "";
    display: table;
}

table th
{
    text-align: left;
    background-color: darkgray;
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}

table th, table td
{
    border: 1px solid gray;
    padding: 7px;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

table tbody tr:nth-child(even) td
{
    background-color: beige; 
}

.col-feature
{
    width: 30%;
}

.col-details
{
    width: 70%;
}

/* to center the 2nd column */
/*
table td:nth-child(2),
table thead th:nth-child(2)
{
    text-align: center;
}
*/


.group:after
{
    clear: both;
}

.group
{
    zoom: 1;
}

footer
{
    background-color: #ECECEC;
    color: #777;
    font-size: 85%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}


/* navigation bar start */
.site-nav li
{
    list-style: none; /* This will remove the bullets of Unordered Nav List (ul)*/
    margin-left:7px;
    float: right;
}

.site-nav ul
{
    margin: 0;
    padding: 0;
}

.site-nav
{
    margin-bottom: 0px;
    
}

.site-nav a
{
    
    text-decoration: none;  /* removes the underline */
    color: #009999; 
    display: block; /* bydefault is inline */
    padding: 10px 20px;
    border: 2px solid;
    border-color: #009999;
    border-bottom: 0px;

}


/* navigation bar ends*/
.signup-page {
    padding:0px 30px 0px 30px;
}

.signup-form h3 {
    font-family:Cambria;
    font-size:20px;
    text-align:center;
}

.signup-form h4 {
    font-family:'Adobe Devanagari';
    font-size:18px;
    text-align:center;
}

/* for Log In page*/
.signup-page form input[type="email"],
.signup-page form input[type="password"],
.signup-page form input[type="text"],
.signup-page form input[type="number"],
.signup-page form input[type="tel"],
.signup-page form select
{
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    height: 35px;
    font-family: Tahoma, sans-serif;
    font-size: 100%;
    margin-bottom: 15px;
    border: 1px solid #CDCDCD;
    outline: none; /* To remove bydefault blue focus color of text and button outline*/
}

.signup-page form input[type="email"]:focus,
.signup-page form input[type="password"]:focus,
.signup-page form input[type="text"]:focus,
.signup-page form input[type="number"]:focus,
.signup-page form input[type="tel"]:focus
{
    border: 1px solid #D2D7D8;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.15);
}

.signup-page form input[type="submit"]
{
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: #0D3D4E;
    color: aliceblue;
    padding: 10px 0;
    border: 1px solid #125871;
    border-radius: 3px;
    font-family: Tahoma, sans-serif;
    font-size: 100%;
    margin-bottom: 10px;
    outline: none; /* To remove bydefault blue focus color of text and button outline*/
}

.signup-page form input[type="submit"]:hover,
.signup-page form input[type="submit"]:focus
{
    background-color: #125871;
}

.signup-page form .checkbox-text
{
    font-size: 90%;
    color: #777;
 }

.signup-form
{
    background-color: #E4E9EA;
/*    background-image: linear-gradient(to bottom right,#8CADB7, #FFF); */
/*  background-color: #ECECEC; */
    padding: 20px 35px 20px 35px;
    box-shadow: 10px 7px 3px rgba(0,0,0,0.4) ; 
}

.hidden-label
{
    position: absolute;
    height: 0;
    widows: 0;
    overflow: hidden;
    visibility: hidden;
}

.container .main-area .signup-page h2
{
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    color: #333;
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container .main-area .signup-page h3
{
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    color: #333;
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin-top: 10px;
}

.container .main-area .signup-page h5
{
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    color: #777;
    text-align: center;
    padding: 0;
}

.container .main-area .signup-page h5 a
{
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    color: #0D3D4E;
    text-align: center;
    padding: 0;
    text-decoration: none;
}

.container .main-area .signup-page h5 a:hover
{
    color:#125871;
}


.login-page form
{
    opacity:1;
    float: right;
    padding: 0;
    vertical-align: middle;
    color: white;
    text-decoration:none;
    font-size:20px;
    border-bottom:none;
    margin-top:-35px;
    margin-right:20px;
}

log
{
    float: right;
     padding: 0;
    vertical-align: middle;
    color: white;
    text-decoration:none;
    font-size:20px;
    border-bottom:none;
}



.login-page form input[type="email"],
.login-page form input[type="password"],
.login-page form input[type="text"],
.login-page form input[type="number"],
.login-page form input[type="tel"],
.login-page form select
{
    margin-top: 10px;
    margin-right: 4px;
    padding-left: 5px;
    height: 18px;
    width: 160px;
}

.login-page form input[type="submit"]
{
    background-color: #12596D;  /*#0D3D4E;*/
    color: aliceblue;
    outline: none; /* To remove bydefault blue focus color of text and button outline*/
    border: none;
    padding: 2px 9px 5px 9px;
    font-size: 15px;
    border-radius: 3px;
}

.login-page form input[type="submit"]:hover,
.login-page form input[type="submit"]:focus
{
    background-color: #125871;
}

.navbar-custom {
    background-color:black;
    border-radius:0;
    font-size:14px;
    width:100%;
    margin-top:0px;
}

.navbar-custom .navbar-nav {
        margin-top:0px;
        top:0px;
    }

.navbar-custom .navbar-nav {
    }

.navbar-custom .navbar-nav >li>:hover {
    background-color:red;
    }

.navbar-custom .navbar-nav > li > a {
    color:white;

}

.navbar-custom .navbar-nav > li > a:focus{
    background-color:red;
}

.navbar-custom .navbar-nav > li > a 
{
    line-height:55px;
    text-shadow:0px 0px 0px #000;
}

.navbar-custom .navbar-nav > li >a:active {
    background-color:red;
    color:red;
}

.navbar-custom .navbar-nav > li > ul:hover {
    color:white;
    background-color:white;
    }


.navbar-custom .navbar-nav > li > ul:focus {

    }

.icon-bar {
height:1px;
width:5px;
color:white;
background-color:white;
}


.topbar {
margin-bottom:-20px;
}


.circle {
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  color: #FFF;
  text-align: center;
}

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
   background-color: rgba(13,61,78, 0.6);;
  content: "";
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}

.circle__content p {
font-family:Cambria;
padding-bottom: 25px;
padding-right: 15px;
padding-left: 15px;
font-size: 20px;
color: aliceblue;
letter-spacing: 0.5px;
text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
text-align: center;
}

@media screen and (max-width:480px)
{

.circle__content p{
    font-size: 16px;
  }
}

@media screen and (max-width:840px)
{
  .circle__content p{
    font-size: 16px;
  }
}

.footer
{
    background-color: black;/*#ECECEC; */
    color: #FFF;
    font-size: 85%;
    text-align: center;    
    padding: 10px 0px 10px 0px;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    z-index:1000;
    overflow: hidden;
   margin-bottom: 0px;
    clear:both;
}

@media screen and (max-width:768px) {
    .container {
        width: auto;

    }
}